[2020-06-15 16:05] hms1 opened #1 "Error: database or disk is full"
This error occurs when running the `FeatureExtraction::tidyCovariates` function during PLE, but seems most related to `Andromeda`.

Running these lines results in the error `Error: database or disk is full`:

https://github.com/OHDSI/FeatureExtraction/blob/bfa7d6fe33a362d1c28598af4fac11249141f628/R/Normalization.R#L52-L54

The study is very large (zipped Andromeda is 3.7gb), but there appears to b

[2020-06-16 10:16] hms1 commented on #1
I looked into this a bit more, and the problem is that `RSQLite` uses a default `temp_store_directory` that has limited space on the server I'm using (I think it's `/var/tmp`).

This is different to `andromedaTempFolder` but can be made the same using something like:

[code]
After running this (either against covariateData or an earlier Andromeda object) the query runs fine.

I'm not sure if this

[2020-06-16 10:50] schuemie commented on #1
Thanks! Others recently also noticed this behavior, but I didn't know what the problem was. I'll add it to the code.

[2020-06-16 11:55] schuemie commented on #1
Would you mind testing the new version in the develop branch? It can be installed using
[code]

Including @jreps.

[2020-06-16 15:14] hms1 commented on #1
That seems to be working - thank you !

I'll also test in the context of the full study run.

[2020-06-17 19:59] hms1 commented on #1
I've used the develop branch a fair bit now and it seems to be working well 👍.

Slightly off-topic, but I had to make a few changes to the comparativeEffectStudy package I was running to accommodate `Andromeda`.

It looks like you've got most of it covered in the [andromeda](https://github.com/OHDSI/SkeletonComparativeEffectStudy/tree/andromeda/R) branch of `SkeletonComparativeEffectStudy`, but if

[2020-06-18 04:59] schuemie commented on #1
Thanks!

Yes, I realized I forgot to merge the andromeda branch into master of SkeletonComparativeEffectStudy. I did so yesterday. I've also released a new version of Hydra, which hopefully soon will find its way into ATLAS.

[2020-07-24 15:56] msuchard opened #2 "Relative `andromedaTempFile` causes write issue in some environments"
This `option(andromedaTempFile = "~/andromeda")` causes a write issue in (at least) one RstudioServer/linux environment, while `option(andromedaTempFile = "/home/user/andromeda")` works just fine.

Am not sure what the issue is, but posting here so that we do not forget the work-around.

[2020-07-26 06:38] estone96 opened #3 "Error in loadCohortMethodData when re-loading"
Hi.

In executing the cohort method and after save cohortMethodData, "Error.~~~" was occurred and no more loading. The bunch of code and message are followed

Disconnected Andromeda. This data object can no longer be used`

                                   outcomeId = 3,
                                   firstExposureOnly = TRUE,
                                   restrictToCommonPeriod = FALSE

[2020-07-27 04:47] schuemie commented on #3
Yes, sorry, should have mentioned clearer. After saving the cohortMethodData object using `saveCohortMethodData`, you need to load it again using `loadCohortMethodData`. This unfortunately is a `feature` of RSQLite: you cannot save a SQLite database without closing it first, and you cannot open it after closing without reloading it.

[2020-07-27 07:43] schuemie commented on #2
Maybe we could use [path.expand](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/path.expand) when reading the `andromedaTempFile` option?

[2020-07-27 13:51] msuchard commented on #2
That's a great idea.  I'll check it out when I can coordinate access to this environment again.  Thanks!

[2020-07-27 17:17] msuchard commented on #2
I can confirm that in this environment:

`path.expand("~/andromeda")` expands to `"/home/username/andromeda"`.  I'll make the patch.

[2020-10-20 12:16] ablack3 opened #4 "saveAndromeda crashes R session when tilde expansion is used or path does not exist or is not writable"
Here are a few examples of programs that crash R.

[code]

[code]

[code]

This affects featureExtraction as well - https://github.com/OHDSI/FeatureExtraction/issues/103

[2021-01-12 09:53] tomseinen opened #6 "Parallel batchApply"
Hello

I was wondering if it would be possible to parallelize the batchApply function.
Similar to for example the future::future_apply() function ([overview](https://cran.r-project.org/web/packages/future.apply/vignettes/future.apply-1-overview.html)).

It would then be possible to apply a function to multiple batches in parallel, speeding up the operation.

Example:
Currently, the batchApply func

[2021-01-13 04:59] schuemie commented on #6
This would be non-trivial, since each batch would need to be sent to the processing node right after reading (can't read all batches and then distribute them, because that might not fit in memory). OHDSI's framework for parallel processing is ParallelLogger, and we'd need to take apart the [clusterApply](https://github.com/OHDSI/ParallelLogger/blob/master/R/Cluster.R#L162) function to make that ha

[2021-01-13 10:01] tomseinen commented on #6
Thank you for your explanation Martijn. I see what you mean, you are right.
I was looking at the wrong function to solve my issue, the PLP code made it slow.

I solved it by simply skipping Andromeda batchApply all together and edited the PLP to directly put the covariateData in a sparseMatrix object. Time went down from 2 hours to 1 min...

I will take this to the PLP team

Thank you!

[2021-01-13 10:01] #6 closed

[2021-02-08 11:04] lhjohn opened #9 "“SQLiteConnection” error when loading plpData object"
Using:
R version 4.0.3 (2020-10-10) -- "Bunny-Wunnies Freak Out"
Platform: x86_64-apple-darwin17.0 (64-bit)

Reproduce:
I was successfully loading plpData objects using `plpData <- PatientLevelPrediction::loadPlpData([...])
`. Then I decided to update all my R packages (08-02-2021 at 11 UTC). One update must have broken the plpData objects loading. I now get the following error.

[code]

Can anyon

[2021-02-08 13:03] schuemie commented on #9
Yes, this is a known issue. Please see [this post](https://forums.ohdsi.org/t/the-invalid-name-for-slot-of-class-sqliteconnection-error-and-what-to-do-about-it/13098)

[2021-02-23 20:29] ablack3 commented on #9
Reposting Martijn's explanation here and closing the issue. Reopen if the solution below isn’t working.

[code]

[2021-02-24 00:56] #9 closed

[2021-02-24 00:58] #3 closed

[2021-02-24 01:03] #1 closed

[2021-03-15 08:33] schuemie opened #11 "Add native support for dates and datetimes"
RSQlite has [added](https://rsqlite.r-dbi.org/news/index.html) a new `extend_types` argument to the `dbConnect` function that adds support for DATE and DATETIME fields. Unfortunately, at this time it does not seem to work when uploading a data frame with dates. The DATE fields need to be declared explicitly in a `CREATE` statement.

[code]

Maybe in the future RSQLite will also recognize the date

[2021-03-15 14:51] ablack3 commented on #11
This is good news. I'll repost this issue on the RSQLite repo.

[2021-04-08 17:33] ablack3 opened #12 "Investigate adding option for a duckdb backend or RSQLite+parquet"
DuckDB is a file-based database similar to sqlite and has an R interface. It looks like it might provider performance benefits over SQLite.

https://duckdb.org/docs/api/r

Investigate performance differences between DuckDB and SQLite. Look into implementing an Andromeda DuckDB backend.

[2021-04-08 17:39] ablack3 opened #13 "Re-export functions from the dm (data models) package"
The [dm package](https://krlmlr.github.io/dm/) provides a unified interface to relational data models in R (I think in an analogous way to DBI providing a unified interface to databases). Investigate the possibility integrating the dm package into Andromeda.

[2021-04-12 20:46] ablack3 commented on #11
@schuemie - I think dates work on the develop branch now. Datetimes work as long as the timezone is UTC. If the timezone is something else then it will be converted to UTC. I'm not sure if that is a problem or not.

Will you help me create a minor release based on this update?

[code]

<sup>Created on 2021-04-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-04-12 20:49] ablack3 commented on #11
The fix was in RSQLite so there are no workarounds going on in Andromeda.

[code]

<sup>Created on 2021-04-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-04-13 04:19] schuemie commented on #11
Awesome! This seems like a pretty big change, so would be a major version increase? I think several HADES packages are expecting dates to be automatically converted to integers, so we should test them first.

We should specify the required version of RSQLite in the DESCRIPTION (has that version been released, or did you pull it from GitHub?)

[2021-04-13 11:59] ablack3 commented on #11
I'm using the 2.2.6 version of RSQlite which is on CRAN as a source package. I'll add RSQLite (>= 2.2.6) to the DESCRIPTION.

If this is a breaking change then I guess it should be a major version. There are some other changes I'm interested in exploring that could be bundled with a 1.0 release and I've created issues for them.

- Move dplyr from Depends to Imports to have more explicit control ov

[2021-04-13 12:10] ablack3 commented on #12
**Some links**
Add parquet support to RSQLite: https://github.com/r-dbi/RSQLite/issues/325
SQLite parquet virtual table: https://github.com/cldellow/sqlite-parquet-vtable
Why would this be great? https://cldellow.com/2018/06/22/sqlite-parquet-vtable.html
Maybe duckdb would be easier and better route? https://duckdb.org/docs/api/r

Does SQLite cover all of OHDSI SQL? If not, where does it fall shor

[2021-04-13 12:34] schuemie commented on #11
Yes, that sounds like an excellent plan. I am a bit skeptical about whether different backends will improve performance without breaking compatibility too much, but I can always be persuaded by real data. Agreed that we want to bundle as many breaking changes into a single major release.

[2021-05-07 18:07] ablack3 opened #19 "r-oldrel-macos-x86_64 CRAN tests failing"
It seems that one of the Andromeda tests fails on the r-oldrel-macos-x86_64 environment.

https://cran.rstudio.com//web/checks/check_results_Andromeda.html
![image](https://user-images.githubusercontent.com/10227522/117488465-715fcd80-af3a-11eb-85a7-23d5ddcd7688.png)

We get the last 13 lines of output which does not provide any help in identifying the cause of the error.
![image](https://user-ima

[2021-05-07 18:31] ablack3 commented on #19
I successfully ran R CMD Check on a 2009 Macbook running Mac OS 10.11.6 with clang v8.0.0, gfortran v7.2.0, R 3.6.2.

[2021-05-10 09:44] schuemie commented on #19
Are the folks at CRAN requiring us to fix the error? If not, we can always ignore it.

[2021-05-16 19:44] jduke99 opened #20 "Vignette Not Found"
The [vignette](https://raw.githubusercontent.com/OHDSI/Andromeda/master/inst/doc/UsingAndromeda.pdf) on the Andromeda homepage throws a 404.

[2021-05-24 06:44] schuemie opened #21 "Create workaround for zip bug with large files"
There's a [bug in the `zip` package](https://github.com/r-lib/zip/issues/65) that I don't think will ever be fixed. We should probable think about another solution that avoids this problem.

The bug is in the `zip_list()` function used [here](https://github.com/OHDSI/Andromeda/blob/bd8666b84faba407bcf24ca81e205431ebaf5e78/R/LoadingSaving.R#L124). Some options that come to mind:
- Drop zip altogeth

[2021-05-27 07:15] schuemie commented on #21
Another option:
- Use utils::unzip(zipFileName, list = TRUE) instead

[2021-06-24 12:22] ablack3 commented on #21
Sorry for the delay. I think `utils::unzip(zipFileName, list = TRUE)` is the simplest solution and I'll make the change in the development branch.

[2021-06-24 12:31] ablack3 commented on #20
Thanks for pointing this out. This has been fixed on the [develop branch](https://github.com/OHDSI/Andromeda/tree/develop) and will be updated in the main branch on the next release.

[2021-06-24 12:31] #20 closed

[2021-06-25 15:21] ablack3 commented on #21
This has been fixed on the develop branch and will be included in the next release. I don't have an automated test for this issue since we need a ~3GB Andromeda zip file but I have an ad-hoc manual test.

[2021-06-25 15:22] ablack3 commented on #19
Ignoring this since CRAN is not requiring a fix.

[2021-06-25 15:22] #19 closed

[2021-06-25 15:24] #4 closed

[2021-06-29 10:28] lhjohn opened #22 "Andromeda object with JSON files instead of RDS files"
Hi,

I am looking into the possibility of writing and reading Andromeda data objects directly from other programming languages or web interfaces such as C++ or Python. Currently, we can read and write the covariate data in Python or C++ using SQLite ([example](https://github.com/OHDSI/DeepPatientLevelPrediction/issues/7)).

However, there are a number of RDS files in the Andromeda object (cohort.r

[2021-06-29 18:10] msuchard commented on #22
An alternative to re-engineering `Andromeda` to support yet another language,  maybe we could try:

   https://github.com/ofajardo/pyreadr

[2021-06-30 08:07] egillax commented on #11
Hi @ablack3 I was testing this branch. When I save and load an Andromeda object the dates get converted back to integers. I assume extended_types=TRUE needs to be added to some saving/loading functions as well for date support?

[2021-06-30 18:34] ablack3 commented on #11
@egillax, Thanks for testing the branch. I pushed a commit that should fix this issue and add some tests to test that dates are preserved after saving and loading. https://github.com/OHDSI/Andromeda/pull/18/commits/3a82f6804fd49c40c4348054bff2f64513b8f336

Will you try reinstalling the develop branch?

[2021-07-01 18:47] ablack3 commented on #22
I certainly like the idea of being able to read covariate data in python. Are there any OHDSI python packages where a `loadAndromeda` function could live? I guess it would be in https://github.com/OHDSI/DeepPatientLevelPrediction.

[2021-07-01 19:22] lhjohn commented on #22
We are working on an initial implementation in [OHDSI/DeepPatientLevelPrediction](https://github.com/OHDSI/DeepPatientLevelPrediction/blob/7-read-andromeda-python/inst/python/read_write_plp_data.py), as this package will be build primarily using PyTorch.

I am using @msuchard suggested package pyreadr. It seems to work fine for unnested, standard dataframes.

[2021-07-03 13:47] ablack3 commented on #21
Fixed in v0.5.0

[2021-07-03 13:47] #21 closed

[2021-07-03 13:48] ablack3 commented on #11
Native support for dates and datetimes added in v0.5.0

[2021-07-03 13:48] #11 closed

[2021-07-06 07:52] schuemie commented on #22
It might be important to separate two things:

On the one hand we have Andromeda objects that are mainly a SQLite database (zipped when stored) and some R attributes (typically an R list object with some meta-data).

On the other hand there are more complex objects that include Andromeda objects. I think the PlpData object is actually an R list where one member is an Andromeda object.

In packages

[2021-07-07 19:39] vojtechhuser commented on #12
+1

[2021-07-09 16:20] ablack3 opened #23 "Extract contents of remote CDM into Andromeda and run achilles on the data in Andromeda"
This R script is a proof of concept for two pieces of functionality that Andromeda might support in the future.

1. Extract a subset of the CDM or the full CDM into an Andromeda object
2. Execute Achilles on the local CDM subset in the Andromeda object

[code]

<sup>Created on 2021-07-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

<details style="margin-bottom:10px;">
<su

[2021-07-09 16:37] vojtechhuser opened #24 "data import error for death.csv CDM like file"
in newest dev version - error is obtained when user tries to import this file into andr<-andomeda()

[code]

[2021-07-09 16:40] vojtechhuser commented on #23
this is great. it gives connectionDetails for andromeda object. Very helpfull. Thank you. Maybe put into vignette as well. (not really an issue (problem)

[2021-07-09 17:05] ablack3 commented on #24
With a few tweaks I got it working. I had to use a different url.

[code]

<sup>Created on 2021-07-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-07-14 16:53] msuchard opened #25 "Need to re-arrange ORDER BY?"
Below is a warning I am seeing in the `Cyclops` test-units.  Is this an error in `Andromeda`? @schuemie

[code]

[2021-07-14 17:02] schuemie commented on #25
Not really an Andromeda issue. Somewhere `arrange()` is being called (as lazy operation) on an Andromeda table, and then other operations are applied subsequently, which could very well change the order and so make the `arrange()` call have no effect.

What specific context is this warning occurring?

[2021-07-14 18:50] msuchard commented on #25
The warnings are occurring here: https://github.com/OHDSI/Cyclops/blob/75ab6624719e7bf193e744ad6061962c7a008d5c/R/NewDataConversion.R#L350

There are number of (important) `covariates <- covariates %>% arrange()` before the `batchApply` but as far as I can see there are no `arrange()` after this point (i.e. in `loadCovariates` and further downstream).

Might I need to force executing of the earlie

[2021-07-15 12:22] msuchard commented on #25
Solved by @schuemie here: https://github.com/OHDSI/Cyclops/issues/52

[2021-07-15 12:22] #25 closed

[2021-07-28 13:47] jreps opened #26 "java.lang.OutOfMemoryError: Java heap space"
I keep getting the java heap error (Jill had a similar error as well) when extracting the data into an sqlite database.  Jill had the error when extracting a single big cohort.  I get the error after running a few cohort extracts, it stops for a bit after I terminate and restart R but then reappears.  Is there a memory leak somewhere?

Connecting using Redshift driver

Constructing the at risk coh

[2021-07-28 13:49] jreps commented on #26
Here is the error report:

DBMS:
redshift

Error:
java.lang.OutOfMemoryError: Java heap space

SQL:
SELECT *
FROM (
SELECT row_id, covariate_id, covariate_value FROM #cov_1 UNION ALL
SELECT row_id, covariate_id, covariate_value FROM #cov_2 UNION ALL
SELECT row_id, covariate_id, covariate_value FROM #cov_3 UNION ALL
SELECT row_id, covariate_id, covariate_value FROM #cov_4 UNION ALL
SELECT row_id, c

[2021-07-28 13:52] msuchard commented on #26
One approach might be to load up a Java profiler (I use, e.g., IntelliJ) and attach it to the JVM that R kicks off.  You should then be able to watch in real-time the construction / destruction of Java objects along with the calling code line #s.

Alternatively, you might try increasing the heap-size for your JVM.   From the command-line `-X*` options are useful.  I am not sure how to specify thes

[2021-07-29 08:55] schuemie commented on #26
I don't want people increasing the heap size, as
1. It doesn't solve the problem (DatabaseConnector grabs a percentage of the available heap space, so larger heap space means grabbing more memory)
2. I still see people increasing the heap size from when they thought this solved a problem many years ago. Running HADES code should not require any magical statements beforehand.

I've tried to debug t

[2021-07-29 09:04] schuemie commented on #26
Moving this issue [here](https://github.com/OHDSI/DatabaseConnector/issues/154)

[2021-07-29 09:04] #26 closed

[2021-08-10 19:45] gowthamrao opened #27 "Converting date to string in andromeda object"
I think as.character() on date in Andromeda object - still converts date to integer and then string

# oserved behavior
[code]

# expected behavior
[code]

maybe related to
https://github.com/OHDSI/Andromeda/issues/11

[2021-08-10 19:47] gowthamrao commented on #27
Ofcourse it can be overcome by bringing full data into R using dplyr::collect() but that would defeat the purpose of Andromeda
[code]

[2021-08-10 20:54] gowthamrao opened #28 "Date is changed to integer on selecting using dplyr"
Observed

[code]

[code]

[2021-10-04 20:29] #24 closed

[2021-10-05 22:16] ablack3 commented on #28
Still trying to figure out why this is happening.

[code]

<sup>Created on 2021-10-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-10-06 01:12] ablack3 commented on #28
[code]

<sup>Created on 2021-10-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Seem like an RSQLite issue. Made a note here https://github.com/r-dbi/RSQLite/issues/379. I'll try to come up with a temporary fix but I'm really not sure how to do this without bringing the data into R. I'm assuming "create a modified copy" must all happen in SQLite.

[2021-10-06 02:24] ablack3 commented on #28
I'm pretty tempted to swap out SQLite for [duckdb](https://duckdb.org/docs/api/r) which has real date support.

[code]

<sup>Created on 2021-10-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-10-06 06:27] schuemie commented on #28
Have you compared performance (mostly speed) between SQLite and DuckDB?

[2021-10-06 23:21] ablack3 commented on #28
I'm working on creating a duckdb version of Andromeda. Then I'll run some comparison tests.

I don't understand the purpose for these tests. Is it important that we can append with mismatched column names. duckdb throws an error when I try to do this.

[code]

[2021-10-07 00:20] ablack3 commented on #28
**Test using SQLite version**
[code]

**Test using duckDB version**

[code]

<sup>Created on 2021-10-06 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

So they were basically the same on this very simple test that included loading data in and querying. I still have a work to do to get all the andromeda functions working on duckdb. Is there a test you'd like me try? Perhaps a

[2021-10-07 04:52] schuemie commented on #28
Could you test joins between large tables? That is often slow.

[2021-10-07 04:59] schuemie commented on #28
About the test with different column orders: this is guarantee that I think all tidyverse functions also make (e.g. `bind_rows()`). If I have data with columns `conceptId`, `count`, and I append to that data with columns `count`, `conceptId`, it will match the data on column name, not column order, so at the end the `conceptId` column still only has concept IDs, and the `count` column only has cou

[2021-10-14 02:44] ablack3 commented on #27
Yea. All these issues with Andromeda dates are due to the lack of a date type in SQLite. RSQLite tries to make it look like SQLite has dates. I have a pretty unsatisfactory solution but I think it does convert the date to a character string in the database. (I think 2440588 is the Julian date of Jan 1, 1970)

[code]

<sup>Created on 2021-10-13 by the [reprex package](https://reprex.tidyverse.org)

[2021-10-14 02:58] ablack3 commented on #28
I did a few simple tests on joins both with and without indexes and posted one result [here](https://github.com/OHDSI/Andromeda/issues/12#issuecomment-942906843). SQLite was faster in all my tests. According the [FAQ](https://duckdb.org/docs/faq) duckdb has not been fully optimized for performance yet. I'll keep working on implementing a duckdb Andromeda version on the duckdb branch and we can see

[2021-10-14 03:12] ablack3 commented on #12
Some simple join tests comparing duckdb and SQLite.  According to the duckdb [FAQ](https://duckdb.org/docs/faq) it has not been optimized for performance yet.

[code]

<sup>Created on 2021-10-13 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-10-14 04:06] schuemie commented on #28
This seems like a SQLite issue, right? Apparently the 'extended types' extension only applies to columns of physical tables (permanent or temporary), but don't exist in any intermediate results like (nested) queries.

[2021-10-14 05:02] schuemie commented on #12
Thanks, this is very informative! There appears to be a large hit in performance when using DuckDB. And performance is an important aspect of Andromeda.

[2021-10-14 16:24] ablack3 commented on #28
Yes I guess RSQLite should handle this, but it's not clear to me if it will be possible to propagate date types in more complex queries. I posted an example on the RSQLite issue [here](https://github.com/r-dbi/RSQLite/issues/379#issuecomment-935204413).

[2021-10-25 23:00] ablack3 commented on #22
I think Andromeda is responsible for saving and restoring user defined attributes which could be any R object. @schuemie  Would it be reasonable to restrict what types of attributes can be assigned to an Andromeda object? For example is fitted model a valid andromeda attribute?
[code]

[2021-10-26 04:58] schuemie commented on #22
Yes, I don't see an issue with restricting the attributes to objects that can be converted to JSON.

One annoyance I've found when converting R objects to JSON is that the object class attribute is lost. I've written some code that preserves object attributes like these in the JSON, as you can see [here](https://github.com/OHDSI/ParallelLogger/blob/master/R/Args.R#L320). I recommend also using tha

[2021-12-15 22:04] ablack3 commented on #2
This is fixed as far as I know. Closing the issue.

[code]

<sup>Created on 2021-12-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-12-15 22:04] #2 closed

[2021-12-21 21:22] ablack3 commented on #13
An example of a possible ["10 minute rule"](https://youtu.be/KSYwdblTleo?t=3442) example with the dm package. (Data to something interesting in 10 minutes or less)

[code]

![](https://i.imgur.com/Youpmpf.png)

<sup>Created on 2021-12-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-12-29 20:48] ablack3 commented on #13
I explored implementing Andromeda as an extension of dm objects. There are a lot of overlaps between dm and Andromeda. Both are essentially a list of references to tables in a database. However there are some key differences.

- dm uses S3 and Andromeda uses s4
- If I create an empty dm pointing to a database and add a local table the table is not copied to the database.

[code]

<sup>Created on 2

[2022-01-20 19:56] ablack3 commented on #13
I committed my work on this to the dm branch. It seems like Andromeda could be based on dm. After talking with Martijn though I think Andromeda's main goal is to replace ff for larger than memory dataframes and not really to be treated as a relational database even though it is implemented using a database.

[2022-01-20 19:56] #13 closed

[2022-01-28 10:29] schuemie commented on #23
Why not use RSQLite for this? Andromeda is specifically aimed at storing large data objects as if they're in memory (e.g. changes are only persisted if you save the whole Andromeda object to file). RSQLite is a local database, already supported by DatabaseConnector and SqlRender.

[2022-02-01 11:47] schuemie opened #31 "Add a function to check if Andromeda temp folder can be written to (and is big enough)?"
When running studies, we sometimes find the Andromeda temp folder cannot be created (e.g. because the `andromedaTempFolder` option is set to an illegal path, or the user doesn't have rights to write there), or that the temp folder isn't big enough. Unfortunately, this typically doesn't happen until well into the study, after some time has passed.

Could we add a function to Andromeda that a study

[2022-02-01 18:42] ablack3 commented on #31
Yes I have added that function to the develop branch.

https://github.com/OHDSI/Andromeda/blob/c4e3f24dc5df46fd469a2eb65f1774e7517f67d8/R/LoadingSaving.R#L264

It does seem like there is some ambiguity around the term gigabyte and maybe we
 should be using 1000^3 (decimal, Gigabyte) instead of 1024^3 (binary, Gibibyte). https://en.wikipedia.org/wiki/Gigabyte#:~:text=Hard%20disk%20capacities,GiB%20

[2022-02-02 08:08] schuemie commented on #31
Thanks! This looks great. I have no preferences as to the unit, and which convention we apply. I'll admit most of the time I'll think in terms of gigabytes (and not caring if that is 1000^3 or 1024^3 ;-) )

[2022-02-02 14:43] ablack3 commented on #31
Great! Ok I'll change the units to gigabytes. That's one less conversion for the user to do. I think `getAndromedaTempDiskSpace` should use the same unit.

[2022-02-02 21:42] ablack3 commented on #31
I changed all disk size units in Andromeda to gigabytes and pushed changes to develop branch.

[2022-02-02 21:42] #31 closed

[2022-02-04 02:51] ablack3 commented on #23
Well yes it makes sense to use RSQLite or duckdb. I do like the dplyr based interface to a database provided by the dm package though and having an on disk, OMOP CDM aware database object that plays well with dplyr is what I was thinking Andromeda could become. By OMOP CDM aware I mean an object that has special methods that make querying a cdm very easy similar to the inspect_omop python package.

[2022-02-04 02:52] #23 closed

[2022-02-04 05:47] schuemie commented on #23
I agree that the ability to use `dplyr` is nice. Integrating `dplyr` with `DatabaseConnector`, which would allow this for all database platforms, has been on my [wishlist](https://github.com/OHDSI/DatabaseConnector/issues/35) for years. I just never had the time to get that working.

[2022-02-07 13:48] ablack3 commented on #23
I think this would be a good quest for me.

[2022-02-17 18:14] jreps opened #32 "selecting between dates error"
Hi,

I was testing some PatientLevelPrediction code and I noticed an error when I tried to select from a cohort table where the cohort_start_date is between two user input dates.

The code: "select * from main.cohort where cohort_start_date <= cast('20050101' as date) and cohort_start_date >= cast('19500101' as date) ;" returns an empty data.frame but there are dates between 1950 and 2005.

I chec

[2022-02-17 18:14] jreps commented on #32
wrong package - sorry

[2022-02-17 18:14] #32 closed

[2022-04-13 06:06] chrisknoll commented on #12
So, after wrestling with SQLLite and their lack of full fledged date types, single-schema technology limitations, lack of 'real' temp tables, and more, @schuemie pointed me to duckdb and I also found this issue.

I'm trying to create tests for CohortIncidence, and it is heavy on the date functions, and SqLite is failing hard.  The DatabaseConnector attempts to work around it are valiant, but proba

[2022-04-13 22:13] ablack3 commented on #12
The performance hit is unfortunate and surprising since duckdb is supposed to be designed for OLAP and should outperform sqlite in the long run. My guess is that it is because duckdb is still new and sqlite has had a long time to mature. Indexes or use of [multi-threading](https://duckdb.org/docs/sql/pragmas#memory_limit-threads) might help.  I'm very much in favor of starting to use it in some ca

[2022-04-14 02:19] chrisknoll commented on #12
No, I just was hoping to use database connector but it depends on some attribute being present in order to use the query/execute commands.  Also, I think there will be some light sqlrender dialect work...but I don't use andromeda directly for anything at the moment.

[2022-04-19 05:58] eggrandio opened #34 "Warning issued when setting temp folder"
Hi,

Thank you so much for creating an "updated" version of `ff`.

I have started using Andromeda but when I set the temp folder to my secondary HDD, I get the following Warning message. I think this should not be an issue as the .sqlite file is created successfully in that folder, but I was wondering if it could generate any problems downstream (like if Andromeda needs to create subdirectories or

[2022-04-19 14:59] egillax opened #35 "Add arrow as a backend for speedup of around 10-20x for PLP and other Hades packages"
Hello everyone,

Recently I've been experimenting with using [apache arrow](https://arrow.apache.org/docs/r/) for out of memory computation instead of andromeda with rsqlite. The speedups I'm getting are quite significant. Arrow can use dplyr verbs so the code changes required are minimal. I've already implemented it for a regular PLP workflow and tested using simulated data (using simulatePlpData

[2022-04-19 16:05] lhjohn commented on #35
Arrow sounds great! I have been struggling with the speed of our current implementation at times, especially with massive data sets.

[2022-04-19 16:12] jreps commented on #35
+1 from me - sqlite is very slow, it would be great to have data manipulation done ~10x-20x faster!

[2022-04-19 18:24] ablack3 commented on #35
This sounds great. I'll work on it for the next release.

[2022-04-19 18:52] msuchard commented on #35
@egillax -- whether or not we change the backend of `Andromeda`,  pretty please make a `pull-request` to handle the Arrow tables in `Cyclops`.   It's a primary aim of that package to provide highest-performance standards.

[2022-04-20 04:40] schuemie commented on #35
Arrow was [considered when we were looking to replace ff](https://forums.ohdsi.org/t/replacing-ff-with-rsqlite/9359/13), but at the time I found it to be unstable. It also appears to keep all the data in memory, which is the problem we're trying to avoid with Andromeda.

[2022-04-20 06:21] egillax commented on #35
Hi @schuemie,

It possible was unstable at that time, version 1.0 didn´t come until july 2020. I've not found it unstable and it seems to have been developing fast since then. It´s never crashed on me like it seems to have done for you in 2020.

Just to clarify, all the above timings are using [arrow datasets](https://arrow.apache.org/docs/r/articles/dataset.html) which are for working with file b

[2022-04-20 09:37] egillax commented on #35
A little more data. I ran three version of tidyCovariates from FeatureExtraction. The arrow implementation from my plp fork, an in memory version I made and the original version which uses andromeda with rqslite. I benchmarked it using [bench](https://github.com/r-lib/bench) which measures the memory allocation as well. I used simulated data with 10000 subjects.

[code]

As can be seen the arrow i

[2022-04-21 05:05] schuemie commented on #35
Cool! That does look promising.

[2022-04-27 23:16] ablack3 commented on #35
Here are some more experiments with the arrow functionality. I think this could work. I guess the directory structure would be something like

AndromedaTempFolder/AndromedaObjectFolder/Dataset/file.feather
So we would create one folder for each table in the Andromeda object which could contain partitions or a single file.

We'd be trading SQL for the dplyr implemented in arrow which would likely b

[2022-04-28 02:44] leeevans commented on #35
@ablack3

I haven't tried it but DuckDB can be used for SQL access to Apache Arrow tables:
https://duckdb.org/2021/12/03/duck-arrow.html

[2022-04-28 06:56] schuemie commented on #35
I don't think we need the SQL at all. Andromeda was set up to not rely on SQL, just on `dplyr` syntax (which happened to be supported through SQL when using RSQLite as engine).

The most complicated uses of Andromeda I'm aware of are [this code in FeatureExtraction](https://github.com/OHDSI/FeatureExtraction/blob/main/R/Normalization.R) and [this code in CohortMethod](https://github.com/OHDSI/Coho

[2022-05-02 13:59] ablack3 commented on #35
I started working on an Andromeda implementation that uses arrow (no SQL or duckdb). I have not checked in my code yet. I'm currently stuck on this function. I switched to using S3. The current implementation has S4 methods but creates the object by assigning the class attribute only and doesn't call `new`. It was extending SQLite connection which was S4. Anyway, I'll keep at it.

[code]

Seems li

[2022-05-02 21:23] ablack3 commented on #35
I think I have a the basic idea working for assignment.
[code]

<sup>Created on 2022-05-02 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-05-03 21:54] ablack3 commented on #35
There is a problem with loading and saving zero row dataframes. arrow::write_dataset() does nothing with a zero row dataframe.

[code]

<sup>Created on 2022-05-03 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-05-03 22:08] ablack3 commented on #35
I pushed my initial implementation to the [arrow branch](https://github.com/OHDSI/Andromeda/tree/arrow) in case anyone wants to give it a try. Arrow greatly simplifies Andromeda because we only have to deal with a set of files rather than a database (e.g. indexes are not needed anymore).

I could use help thinking through how the functions in [Operations.R](https://github.com/OHDSI/Andromeda/blob/

[2022-05-10 08:29] schuemie commented on #35
Great work @ablack3 !

I tried playing with the new branch. One behavior that is different (arguably better) with the arrow backend is that copies are independent:
[code]

However, I can't seem to actually access the tables?

[code]

[2022-05-10 12:48] ablack3 commented on #35
thanks for giving it a try! I think you found a bug. Copies are not actually independent. a and b are two different Andromeda objects that point to the same files. The 'path' attribute points to the folder where the feather files are stored.

[code]

<sup>Created on 2022-05-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-05-11 13:08] ablack3 commented on #35
This is tricky. I fixed 'names.Andromeda' but if someone copies an an Andromeda object I can't really update all the other andromeda objects that refer to the same file location.

So perhaps it would be better to create a copy every time an andromeda object is modified? However this seems like potentially a lot of unnecessary copying of large datasets. Maybe another option is to use reference clas

[2022-05-13 21:17] ablack3 commented on #35
UPDATE: I think I have a solution for copies of the andromeda object by syncing the dataset reference with the existing files every time any method is called.

The arrow branch can now handle 0 row dataframes but if a dplyr query produces a result that has zero rows which is then written to andromeda the assignment fails (NULL is assigned). so that is still an issue. I created an issue about it on

[2022-05-17 16:56] ablack3 commented on #35
I think the arrow branch is ready for some alpha testing and some early user feedback.
`devtools::install_github("OHDSI/Andromeda", ref = "arrow")`
What works: object creation, dplyr syntax for data manipulation, saving and loading (tests are passing). (Andromeda objects are now cleaned up only when the R session ends and not before.)
What does not work: batchApply, groupApply, appendToTable, batc

[2022-05-18 20:14] ablack3 commented on #35
I think this could work for appending. Feather files don't seem to support appending but they can be read an written without copying (not sure how this works but it is pretty cool).

[code]

<sup>Created on 2022-05-18 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Kind of crazy how fast arrow read/writes are.

[2022-05-20 19:12] hadley opened #37 "Failure with released Andromeda and dev dbplyr"
We see

*   checking examples ... ERROR
[code]

*   checking tests ... ERROR
[code]

*   checking re-building of vignette outputs ... WARNING
[code]

It looks like the problems are fixed in the dev version, but you might want to double check and/or push a release to CRAN. We're planning on submitting dbplyr on June 3.

[2022-05-20 19:34] ablack3 commented on #37
Thanks for the heads up @hadley!

[2022-05-24 11:23] egillax commented on #35
Hi @ablack3,

I did some testing. Looks very good. I could run the [tidyCovariate](https://github.com/OHDSI/FeatureExtraction/blob/main/R/Normalization.R#L32) function on the new andromeda object by changing one word (one ```count()``` to ```n()```) and by disabling the checks in the beginning of that function. And I get similar speedup as I have seen before, so significantly faster than the sqlit

[2022-06-18 18:05] ablack3 commented on #35
So I think there are a couple next steps for this issue (which I think will solve all of the currently open issues on Andromeda).

1. Adjustments need to be made in the packages that extend Andromeda (FeatureExtraction, possibly CohortMethod, ...)
2. Assess if we actually need the Andromeda methods that have not been implemented yet and come up with implementations that take advantage of arrow. (e

[2022-06-20 05:20] schuemie commented on #35
Could you explain a bit more about what you mean by (2) ('Asses if actually...')?

The `batchApply()` function is used for example in [Cyclops](https://github.com/OHDSI/Cyclops/blob/main/R/NewDataConversion.R#L350). In general, it seems essential for a package like Andromeda to have some way to process the large data (that may not fit in memory) in smaller chunks.

[2022-06-20 07:51] egillax commented on #35
With regards to ```batchApply()``` I think it could just be a wrapper around arrows [```map_batches```](https://arrow.apache.org/docs/r/reference/map_batches.html). That's what I did when trying it out earlier with Cyclops and seemed to work.

Also @ablack3 I see a possible issue with your appendToTable implementation. By converting to an arrow table I believe you are loading everything in memory.

[2022-06-21 03:14] ablack3 commented on #35
I want to check that all of the remaining functions are necessary and need to be implemented on arrow of is any of them can be deprecated.  The remaining functions are
batchApply
groupApply
BatchTest

batchApply and possibly groupApply functionality could be covered by map_batches. One problem with map_batches is that ["This is experimental and not recommended for production use." ](https://arrow.

[2022-06-21 07:00] schuemie commented on #35
The idea of `batchApply()` is that you only have small parts of the entire data in memory at one time, do some operation on it, and then no longer keep it in memory. The Cyclops example is a bit awkward in that the operation actually implies storing it in memory, just in Cyclops' internal hyper-efficient sparse-matrix memory storage.

I prefer we wrap `map_batches`. That makes for a nice separatio

[2022-06-21 16:21] egillax commented on #35
+1 for wrapping ```map_batches``` into ```batchApply```.

@ablack3 I believe the arrow table is an in memory object. I think what you are measuring with ```object_size()``` on the table is  the c++ pointer. And what you see in rstudio under memory usage by session is the actual memory usage. An arrow table actually has an ```nbytes()``` method which I believe to be the memory usage of the underlyi

[2022-06-21 21:08] ablack3 commented on #35
Thanks for the experiments. I'll implement batchApply.

I think my implementation was inspired by Wes McKinney's comment [here](https://issues.apache.org/jira/browse/ARROW-1518?jql=project%20%3D%20ARROW%20AND%20text%20~%20%22zero%20copy%20read%22):
<img width="828" alt="image" src="https://user-images.githubusercontent.com/10227522/174890855-af4ba7f9-140f-4570-9af2-891726a85b57.png">

[2022-06-22 12:57] egillax commented on #35
I did try this today as well with feather files instead of parquet with the same results.

I don't think zero-copy means the data is still on disk. I think it means that the data is moved to the destination without any _unnecessary_ copies. See for example [this](https://en.wikipedia.org/wiki/Zero-copy).

[2022-06-23 20:01] ablack3 commented on #35
On the topic of `batchApply(tbl, fun, ..., batchSize)`. This is essentially adding a batchSize argument to `map_batches` which is a bit awkward because the size of record batches that `map_batches` is mapping over is defined when the file is written not when the file is read. To implement `batchApply(tbl, fun, ..., batchSize)` using `map_batches` I had to copy the dataset to a temp location, setti

[2022-06-23 20:57] egillax commented on #35
I'm not sure I understand how you were setting the ```batchSize``` when creating an andromeda object. Could you clarify that a bit?

I see there is a default batch size of 132k rows in ```map_batches``` .  Is there a reason we would want to change that or even have control of the batch size?

I also see that a feather file has something called ```chunk_size``` with a default of 64k rows.. these ve

[2022-06-24 14:04] ablack3 commented on #35
Here is how I'm setting the size of the recordBatches.

[code]
<sup>Created on 2022-06-24 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Where do you see that? I didn't find any reference to batch size in map_batches. I'm looking [here.](https://github.com/apache/arrow/blob/a6025f15712aa0829aab748a8d3e776f335265cc/r/R/dataset-scan.R#L215)

Yea I'm not sure yet what the diffe

[2022-06-27 21:23] ablack3 commented on #35
I think I have a solution for batchApply using a Scanner. I implemented a new version of appendToTable based on the suggestion from @egillax.

The only remaining function is groupApply I think.

All prior tests are passing but I did have to modify the tests that involve table appending. When using AppendToTable there are no longer any guarantees about row order. (I'm not sure if we were really gua

[2022-06-28 15:54] ablack3 commented on #35
The current groupApply implementation seems to work. I'm not sure that it is the best way to accomplish batching by groups with arrow but all of the tests pass so hopefully it is ok for now.

So I'd say the full andromeda interface has been implemented with arrow although there are a few small changes. For example `close` now attempts to delete the andromeda object. I've notices when running tests

[2022-06-28 15:56] schuemie commented on #35
This is looking very promising! It would make life a lot easier if `count()` and `colnames()` could somehow be supported.

Also, it seems the current version does not delete the files from the Andromeda temp folder when R is closed?

[2022-06-28 17:43] ablack3 commented on #35
[code]

<sup>Created on 2022-06-28 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Each time an andromeda object is created it's location is saved in the Package environment. ([ref](https://github.com/OHDSI/Andromeda/blob/7ef14df2d7196150d8d41b2345f38f10855e1a80/R/Object.R#L137))

Then when garbage collection runs or at the end of the R session the files should be deleted ([r

[2022-06-29 06:20] schuemie commented on #35
The released version of Andromeda [attaches a finalizer to each Andromeda object](https://github.com/OHDSI/Andromeda/blob/main/R/Object.R#L142), and therefore there is an expectation it will be called when the object is no longer referenced and garbage collection occurs.

I'm not sure why you would expect that to happen in the arrow branch. There's currently a single finalizer at the package level

[2022-06-29 16:32] ablack3 commented on #35
You're right. In the arrow branch I have attached the finalizer to the package environment.

Thanks. I'm not sure how to attach a finalizer to each andromeda object. The reason for the switch is that I need an environment or external pointer to attach the finalizer to and the arrow-andromeda object has neither. (See example below)

[code]
<sup>Created on 2022-06-29 by the [reprex package](https://

[2022-06-29 18:35] ablack3 commented on #35
Another solution that I would expect to work but does not. I must be missing something.

[code]

<sup>Created on 2022-06-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-06-30 08:29] schuemie commented on #35
Perhaps the problem isn't that the finalizer isn't called, but that the unlinking fails (because the files are locked)?

I tried to run your example code to test this, but
[code]
throws an error. Does this assume the Andromeda in the arrow branch (which is what I was using)?

[2022-06-30 14:23] ablack3 commented on #35
For these examples it should not matter. I'm using `Andromeda:::.getAndromedaTempFolder()` which hasn't changed. In the example below the Andromeda package is not used at all. I'm just trying to get a working prototype implementation.

How about this implementation? Create a new environment whose parent is the empty environment and add it to the Andromeda object. Attach the finalizer to the enviro

[2022-06-30 15:00] schuemie commented on #35
Looks great!

[2022-06-30 16:06] ablack3 commented on #35
The arrow branch has been updated and [cleanup test restored](https://github.com/OHDSI/Andromeda/blob/1fd594f53b6368c074c4dc1b14a44fc70c17d4de/tests/testthat/test-object.R#L136) and [passing on github actions runners](https://github.com/OHDSI/Andromeda/runs/7135215371?check_suite_focus=true).

[2022-07-01 11:10] schuemie commented on #35
Could you help me understand how I can get a row count? This code no longer works:

[code]

[2022-07-05 11:53] ablack3 commented on #35
You have to add `collect`, `pull`, or `compute` at the end of the dplyr query. `collect` will return a dataframe/tibble.  `pull(n)` will return a number. `compute` will return an in-memory Arrow table.

[code]

<sup>Created on 2022-07-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-07-05 15:10] ablack3 commented on #35
The next step is getting the rest of the Hades packages working with the Andromeda arrow branch. As @egillax pointed out earlier in this thread the change to S3 will require changes to how Andromeda is extended in other Hades packages that extend Andromeda.

Analytic packages like CohortMethod have an Andromeda object called `cohortMethodData` that extends FeatureExtraction's `CovariateData` objec

[2022-07-06 05:18] schuemie commented on #35
Hi @ablack3 . Seems we're working in parallel. I've already modified DatabaseConnector to work with the new Andromeda version (see the [arrow branch](https://github.com/OHDSI/DatabaseConnector/tree/arrow)), and am now also working on FeatureExtraction. I've pushed my work so far up to the [arrow branch](https://github.com/OHDSI/FeatureExtraction/tree/arrow) here.

I've modified the inheritance fro

[2022-07-06 06:42] schuemie commented on #35
Digging a bit deeper, it seems any dyplr `collect()` call locks the arrow file, at least on Windows, preventing deletion. It appears the lock is applied when `collect.arrow_dplyr_query` calls `do_exec_plan()` [here](https://github.com/cran/arrow/blob/master/R/dplyr-collect.R#L31). And specifically when `do_exec_plan()` calls `ExecPlan$Run()` [here](https://github.com/cran/arrow/blob/95fd85459be548

[2022-07-06 15:56] ablack3 commented on #35
I'll work on the file removal issue on Windows. I made a small change (unlink each file individually) and now it only fails some of the time so maybe that's progress 😄

[2022-07-06 16:18] ablack3 commented on #35
If I call `gc()` before `unlink` it seems to work. Here is a reprex using my updates. I'm not sure if there is some downside to calling `gc` though ([Advanced R - "never any need to call gc"](http://adv-r.had.co.nz/memory.html#:~:text=Despite%20what%20you%20might%20have,memory%20to%20the%20operating%20system.)).
[code]

<sup>Created on 2022-07-06 by the [reprex package](https://reprex.tidyverse.or

[2022-07-07 07:01] schuemie commented on #35
Hmmm, it does violate the rule that a function should not have unintended side effects. But garbage collection seems innocent enough.

It does suggest the cause is an object holding a lock that it doesn't release until it is cleaned up, and waiting for garbage collection to clean it up and thereby release the lock seems suboptimal. @ablack3 : would you be able to create a reprex using just arrow t

[2022-07-07 11:16] schuemie commented on #35
Regarding composition vs inheritance: If we added functions to Andromeda to save and load any *objects containing one or more Andromeda objects* into a single file, I would be happy to use composition instead. Internally, we could use `saveRDS` for the conventional R parts, and zip that with the various arrow files into a single zip file.

[2022-07-07 13:24] ablack3 commented on #35
Yep. I created an issue here: https://issues.apache.org/jira/browse/ARROW-17002 Hopefully this is a bug that will get fixed in a future release and we can remove `gc()`.

Apparently composition vs inheritance can be framed as "has a" vs "Is a".

CovariateData "has a" covariates table, covariateRef table, analysisRef table.
CohortMethodData "has a" covariates table, covariateRef table, analysisRef

[2022-07-08 04:42] schuemie commented on #35
Something different for now: I'm testing the latest version in the arrow branch with FeatureExtraction. I've managed to extract a large set of covariates and save them to file. However, when loading the file (using `Andromeda::loadAndromeda()`), I get
[code]

Unfortunately, I'm unable to reproduce the error with smaller examples. Any idea what is going on?

[2022-07-08 04:46] schuemie commented on #35
(note that the error is consistent in that I just recreated the covariateData object (which takes 25 minutes), saved it, and tried loading it, and got the exact same error. The error occurs when trying to open the covariate table. The corresponding covariates folder (in andromedaTemp) has 54 files, totaling 404 MB)

[2022-07-11 19:13] ablack3 commented on #35
No idea. I'll try to replicate with Synpuf.

[2022-07-18 16:59] ablack3 commented on #35
I need to come up with a faster way to test Andromeda with large data. Tests that take 20 minutes to run are not very practical for development workflows. Let me know if anyone has ideas.

Here is a test I ran locally that seemed to work. I created some fake data with numeric and character variables, used appendToTable to add lots of data to an existing andromeda, saved it, loaded it. The file was

[2022-07-19 08:28] schuemie commented on #35
Yes, changing the `appendToTable()` as you described seems like a good idea.

I went back to debugging the '240 metadata bytes ' error. The arrow objects appear to be fine. What is somehow causing the error is the assignment to the andromeda object. Specifically, the error occurs [here](https://github.com/OHDSI/Andromeda/blob/arrow/R/LoadingSaving.R#L109). If I replace the `andomeda` object with a

[2022-07-19 08:42] schuemie commented on #35
This makes absolutely no sense to me, but replacing [this](https://github.com/OHDSI/Andromeda/blob/arrow/R/LoadingSaving.R#L108-L110) with the code below seems to fix the problem:
[code]
So just changing the class before assigning the arrow objects, and then changing it back.

[2022-07-19 09:54] schuemie commented on #35
Now that I can get the new Andromeda to run with my voodoo code above, I have to say it is pretty fast!

I've created a [version of DatabaseConnector](https://github.com/OHDSI/DatabaseConnector/tree/develop) that will support both the old and new Andromeda backends. It will be included in the next DatabaseConnector release.

[2022-07-19 13:39] ablack3 commented on #35
This is really helpful. We're overwriting assignment for Andromeda so I think there is a bug in that process

https://github.com/OHDSI/Andromeda/blob/d32a945ccac429900390ef90e89ee86f7f537657/R/Object.R#L241

When the `value` is a `FileSystemDataset` (i.e. another andromeda table) we copy those files to the andromeda temp location because they might be in a different andromeda. However when we load

[2022-07-19 13:45] ablack3 commented on #35
Awesome! When is the next release? I'd like to add a `dbms` function to DatabaseConnector in the next release.

[2022-07-19 15:00] schuemie commented on #35
No release date is currently planned. Could release whenever it suits you.

[2022-07-19 15:10] schuemie commented on #35
I've tested the current Andromeda arrow version with the [arrow branch of FeatureExtraction](https://github.com/OHDSI/FeatureExtraction/tree/arrow), and that all seems to work!

Next up I'll try running CohortMethod

[2022-07-21 17:25] ablack3 commented on #35
@msuchard thanks for your guidance on the Hades call today regarding staging this change. I think my next task will be to use S4 instead of S3 so that the Andromeda-arrow branch should work with the current release of FeatureExtraction. There might not be any reason to move back to S3 down the road. I do think we should discuss inheritance vs. composition (i.e. how should Andromeda be extended wit

[2022-08-15 09:26] egillax commented on #35
hi @ablack3,

I've been working on making PLP compatible with Andromeda Arrow in an [arrow branch](https://github.com/OHDSI/PatientLevelPrediction/tree/arrow). I want to raise a few points that have come up in that work:

- Can you make the ```Andromeda::batchApply``` accept arrow_dplyr_queries? In that case it would write the query to a new andromeda object before doing ```map_batches```. I see f

[2022-08-20 10:30] egillax commented on #35
Actually it seems if you only do the arrow::copy_files to the new Andromeda object's path the new andromeda object will magically detect the copied datasets, so lines 118-122 in [here](https://github.com/OHDSI/Andromeda/blob/arrow/R/Object.R) which do the assignment can be removed.

I also discovered a bug in the current Andromeda assignment operation, if there is already a dataset in the folder i

[2022-08-22 12:45] ablack3 commented on #35
Thanks for this work @egillax! I'll work on these today and post an update.

[2022-08-22 21:10] ablack3 commented on #35
Thanks very much for these suggestions @egillax.

Yep I've made this change and added a test. Basically I just use "safe mode" if a dplyr query is passed in.

I did create this with a simple implementation.
[code]
I'm not sure if I should count arrow_dplyr_queries as Andromeda tables. I also can't distinguish between Andromeda tables and non-Andromeda FileSystemDataset objects because and Andromed

[2022-08-24 12:31] egillax commented on #35
Thanks for the update @ablack3 . With the recent changes now all the tests pass for me in the PLP arrow branch. I did though identify an edge case which needs to be fixed in FeatureExtraction. I made an issue [here](https://github.com/OHDSI/FeatureExtraction/issues/175). Something maybe @schuemie  can look at? I suggested a fix but it's a bit hacky.

With regards to the Jira issue, I didn't realiz

[2022-08-26 12:10] schuemie commented on #35
@ablack3 : is it still the plan to turn the arrow Andromeda class into an S4 class, so we can have a graceful HADES transition?

[2022-08-29 13:32] ablack3 commented on #35
@schuemie, We definitely want a smooth transition and staged releases. My question is if Andromeda should ultimately be S3 or S4.

I'd like to provide clear instructions on how to extend Andromeda. In particular I'd like to move toward composition over inheritance.
S3 seems to make extension by composition very simple while extension in S4 seems to be primarily through inheritance.

To extend Andr

[2022-09-01 00:09] ablack3 commented on #35
I tried to go ahead and covert the arrow andromeda to S4 in a new branch. (I think it should be possible to implement the composition idea later by providing methods to add behavior.)

https://github.com/OHDSI/Andromeda/tree/arrow_S4

The current release of Andromeda actually never calls `new`. The constructor overwrites the class of a database connection object which is already S4. Since Andromed

[2022-09-02 11:48] schuemie commented on #35
I would be in favor of improving one thing at a time. Switching the backend from SQLite to arrow seems an important contribution that could benefit everyone right now, so if we could introduce that change with minimum changes required to HADES packages depending on Andromeda that would be my preference.

I'm not sure how we could make it so the HADES packages support both S3 and S4? Maybe we shoul

[2022-09-05 09:15] egillax commented on #35
@ablack3 I found a small bug. In line [280](https://github.com/OHDSI/Andromeda/blob/arrow/R/Object.R#L280) in Object.R :
[code]
This should take into account if the user has specified the option for andromedaTempFolder :

[code]

[2022-10-13 17:08] ablack3 commented on #35
Made some more progress on the arrow_S4 branch. All tests are passing with S4 andromeda arrow objects. (Sorry for the delay. I'm still worried about breaking other packages.)

[2022-10-13 20:58] schuemie commented on #35
Thanks Adam! I for one think getting all of HADES to work with the Arrow backend would be a cool task for the hack-a-thon!

[2022-10-15 12:55] anthonysena commented on #35
[HADES Hack-a-thon]: Adam is going to work on this item.

[2022-10-18 18:16] ablack3 commented on #35
One issue we discovered is failure to remove temporary FileSystemDataset objects on windows. This has to do with file locks created by windows. I have not found much information online and created a post on RStudio's forum to see if anyone can help. Linking it here: https://community.rstudio.com/t/how-to-remove-file-locks-on-windows/150388

We did get FeatureExtraction, Cyclops, and CohortMethod f

[2022-10-18 19:18] egillax commented on #35
That's a folder you're creating with ```write_dataset```.  Using ```unlink(filename, recursive=TRUE)``` the folder and its contents are removed. Tested both on ubuntu and windows (VM).

[2022-10-19 21:30] ablack3 commented on #35
Ok, I'll try that.

I created an issue on Arrow https://issues.apache.org/jira/browse/ARROW-18102 related to dplyr::count and dplyr::tally behavior with FileSystemDatasets.

[2022-10-19 21:42] ablack3 commented on #35
@egillax, here is my test. It is still failing since it requires gc() to be called which we can't do in the package.

[code]

<sup>Created on 2022-10-19 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2022-10-20 13:33] egillax commented on #35
@ablack3 I can now reproduce it. Indeed works on linux but not windows. I did try to see if I could get it to work but no luck

[2022-10-20 18:10] egillax commented on #35
I've started to work on a arrow_S4 branch for the PLP.  One minor issue has come up, when assigning a table to ```NULL``` to remove it. It will still pop up when using the ```$``` operator. It will have the value ```NULL``` but still show up in the autocomplete. A quick example to demonstrate
[code]
When running a regular PLP workflow a few of these ghosts will be hanging on to your ```covariateDa

[2022-10-21 16:36] ablack3 commented on #35
Opened a "question" here: https://github.com/apache/arrow/issues/14474

[2022-11-20 15:23] solis9753 opened #41 "arrow_S4: Behaviour of for loop inside loadAndromeda()"
There is an inexplicable behaviour of the [for loop](https://github.com/OHDSI/Andromeda/blob/a9fd927f37d66f5a72a2bb287b91cc4a72b3573f/R/LoadingSaving.R#L110) inside `loadAndromeda()`, in the **arrow_S4 branch**.

Do note that `purrr::map()` and `lapply()` work.
Running under: macOS Monterey 12.6

[code]

<sup>Created on 2022-11-20 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-20 18:52] ablack3 commented on #41
Thank you for the reprex! I'm also using Mac OS 12.6 and get the same error when I use reprex but I don't get any error when I run this code interactively strangely enough.

[2022-11-20 22:05] ablack3 commented on #41
I think this is fixed with my most recent commit. Will you reinstall and test again?

[code]

<sup>Created on 2022-11-20 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-20 22:18] ablack3 commented on #12
We're goin with arrow!

[2022-11-20 22:20] ioannousolon commented on #41
Fixed indeed
with the latest commit.

[2022-11-20 22:53] ablack3 commented on #35
@egillax, I think I fixed the autocomplete issue with this commit https://github.com/OHDSI/Andromeda/commit/26bea4d75473d8dc5163d0fc2f2a86a20bff9af9

@schuemie, Since I have not been able to figure out the file lock issue on windows I went ahead and added gc() to the andromeda finalizer. It passes R check so maybe it will be ok for CRAN.
https://github.com/OHDSI/Andromeda/commit/99fbc44502fea869ba

[2022-11-20 23:16] ablack3 commented on #28
This will be addressed in the next release (arrow_S4 branch)
[code]

<sup>Created on 2022-11-20 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-20 23:21] ablack3 commented on #27
This will be addressed in the next release (arrow_S4 branch)
[code]

<sup>Created on 2022-11-20 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-20 23:26] ablack3 commented on #34
Hi @eggrandio, Thanks for the report. Will you try the "arrow_S4" branch and see if the warning still occurs?
`devtools::install_github("OHDSI/Andromeda", "arrow_S4")`

[2022-11-20 23:34] #41 closed

[2022-11-21 12:04] ioannousolon commented on #35
Hi @ablack3, looking forward to this and I think this is great job.
I just noticed something that I hope this is a good place to mention it.

The new implementation of arrow creates a [json](https://github.com/OHDSI/Andromeda/blob/8f7b462673af4b2450bb0e21561716d4c78d474e/R/LoadingSaving.R#L66) file to store attributes instead of the previously [rds ](https://github.com/OHDSI/Andromeda/blob/6c679dc

[2022-11-21 13:06] ablack3 commented on #35
Good point @solis9753. Thinking through it a bit more, both the attribute format and the data table format have changed so I think you're suggesting that if loadAndromeda were used on an old format object it would read the SQLite database and rdf object and convert it to arrow-feather files (the new format). Is that right?

[2022-11-21 13:17] ioannousolon commented on #35
That's right. And yes on a second look the data table format has to be read correctly as well.

[2022-11-21 22:48] ablack3 commented on #35
Ok yea that seems like it might be a good idea. Can I ask a question - How long do you store saved Andromeda objects? Are you using them for permanent storage of results?

[2022-11-22 19:18] ioannousolon commented on #35
Not so experienced, but I definitely keep them until publication. However, I am not sure anymore it is a good idea.
Such a fix is simpler than having to maintain another package in the dependencies.

[2022-11-24 14:25] schuemie commented on #35
To allow for a smooth transition, would it be possible to first release an Andromeda version with the old backend, but already having the `isAndromedaTable()` function? That way, the HADES packages can support both backends. Currently, if we modify HADES package for the new backend (using `isAndromedaTable()`) they throw an error on the currently release version of Andromeda.

[2022-11-24 15:12] schuemie commented on #35
On Windows, `close()` is throwing the following warning:
[code]
And indeed the andromeda temp folder still shows the file exists.

[2022-11-24 16:09] schuemie commented on #35
Just documenting some weird behavior here when renaming columns on a zero-row table:
[code]
This seems like an arrow issue.

[2022-11-24 16:11] schuemie commented on #35
Or maybe not. This works fine too:
[code]
So maybe it's the temp copy we make when replacing a table slot in an Andromeda object?